In [7]:
tupla = 1, 2, 3
print(tupla)

tup_complex=1+1j,2+3j,343+4j
print(tup_complex)

tup_str="uno","dos","tres","cuatro"
print(tup_str)

tup_mix=2, 3,"uno","dos","tres","cuatro",2+3j,343+4j,[1,2,3]
print(tup_mix)

a,b,c=tupla

print(a)
print(b)
print(c)

(1, 2, 3)
((1+1j), (2+3j), (343+4j))
('uno', 'dos', 'tres', 'cuatro')
(2, 3, 'uno', 'dos', 'tres', 'cuatro', (2+3j), (343+4j), [1, 2, 3])
1
2
3

In [9]:
x=11
y=22
z='Henry'
mi_tupla= x,y,z
print(mi_tupla)

(11, 22, 'Henry')

In [13]:
lista_impares= list(mi_tupla)
nueva_tupla=tuple(lista_impares)

print(nueva_tupla)
print(type(nueva_tupla))

(11, 22, 'Henry')
<class 'tuple'>

In [26]:
tup_dias="Lunes","Martes","Miercoles","Jueves","Viernes","Sabado","Domingo"

str_dia=tup_dias[1]
print(str_dia)
#str_dia=tup_dias['Lunes'] no se puede str_dia=tup_dias["Lunes"]

Martes

In [17]:
"Jueves" in tup_dias

True

In [19]:
bol_res="Viernes" in tup_dias
print(bol_res)

str_diaz="Martes"
bol_res=str_diaz in tup_dias
print(bol_res)

True
True

In [23]:
tup_rep=1,1,2,3,4,5

int_res=tup_rep.count(1)
print(int_res)

int_res=tup_rep.count(3)
print(int_res)

int_res=tup_rep.count(7)
print(int_res)

2
1
0

In [24]:
tup_unit="uno",
print(type(tup_unit))

tup_str="one"
print(type(tup_str))

<class 'tuple'>
<class 'str'>

In [27]:
tup_dias[1:3] #siempre va de indice 1 hasta 2

('Martes', 'Miercoles')

In [34]:
tup_impares=1,3,5,7,9,11

prim=tup_impares[0]
cto=tup_impares[4]
qto=tup_impares[5]

_,_,_,cuarto,quinto,sexto=tup_impares

print(prim)
print(cto)
print(qto)
print(cuarto)
print(quinto)
print(sexto)

1
9
11
7
9
11

In [36]:
arr_lista=list(tup_dias)
tup_nva_tup=tuple(arr_lista)