## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x=12
print(x)

12

2) Imprimir el tipo de dato de la constante 8.5

In [38]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [5]:
str_nombre="Favian"

5) Crear una variable que contenga un número complejo

In [8]:
cpx_var=2+4j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
print(type(cpx_var))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [11]:
import math  # Importamos el módulo math para utilizar la constante Pi

pi_redondeado = round(math.pi, 4)

print(pi_redondeado)  # Imprimirá 3.1416

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [39]:
bol_estate1='True'
bol_estate2=True
bol_estate1==bol_estate2
# no se trata de lo mismo son 2 variables con diferentes valores y tipos

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [40]:
print(type(bol_estate1))
print(type(bol_estate2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [14]:
int_num=12
flt_num=85.5
res=int_num+flt_num
print(res)

97.5

11) Realizar una operación de suma de números complejos

In [15]:
cpl_num1=3+6j
cpl_num2=13+12j
res=cpl_num1+cpl_num2
print(res)

(16+18j)

12) Realizar una operación de suma de un número real y otro complejo

In [41]:
cpl_num1=8+6j
flt_num2=13.45
res=cpl_num1.real+flt_num2
print(res)
res=cpl_num1+flt_num2
print(res)

21.45
(21.45+6j)

13) Realizar una operación de multiplicación

In [17]:
a=4*8

14) Mostrar el resultado de elevar 2 a la octava potencia

In [18]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [19]:
cociente = 27 / 4

# Imprimimos el valor del cociente
print("El cociente de 27 entre 4 es:", cociente)

El cociente de 27 entre 4 es: 6.75

16) De la división anterior solamente mostrar la parte entera

In [22]:
print(int(cociente))
print(27//4)

6
6

17) De la división de 27 entre 4 mostrar solamente el resto

In [21]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [23]:
divisor = 4
cociente = 27 // divisor
resto = 27 % divisor

numero_original = (cociente * divisor) + resto

print("El número original es:", numero_original)

El número original es: 27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [24]:
str_1="cadena 1"
str_2="cadena 2"
str_3=str_1+" " +str_2
print(str_3)

cadena 1 cadena 2

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [25]:
"2"==2
# por que "2" es de tipo string y 2 es numerica aunque tengan el mismo valor tienen tipo distinto

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [37]:
int("2")==2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [36]:
# a = float('3,8')
a = float('3.8')
print(a)
# da error porque en los numeros decimales se utiliza . no , ...

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [33]:
var=3
var-=1
print(var)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [32]:
int_res=1<<2
print(int_res)
# es desplazar 2 posiciones a la izquierda equivalente en binario a 4,

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [30]:
#int_va=2+"2" 
int_va=str(2)+"2" 
print(int_va)
int_va=2+int("2" )
print(int_va)
# por que son 2 variables de distinto tipo no siempre da el mismo valor por la conversion uno contena caracteres str(2)+"2" que es 22, y el otro suma y el resultado es 4..

22
4

26) Realizar una operación válida entre valores de tipo entero y string

In [42]:
numero = 42
palabra = "Python"
resultado = str(numero) + " es un número y " + palabra + " es un lenguaje de programación."
print(resultado)

var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')

42 es un número y Python es un lenguaje de programación.
este texto se repite este texto se repite este texto se repite 3 veces